<IfModule mod_rewrite.c>
Options -Indexes
#Options +FollowSymlinks
## Mod_rewrite in use.
RewriteEngine On

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
#RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]


RewriteRule ^test(/)?$ index.php?view=f_test [NC,L]

#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]
#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]
#RewriteRule ^XXXXXXXXXXXX$ YYYYYYYYYY [NC,L]

</IfModule>
